*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.escribir{
    border: none;
    border-bottom: 2px solid rgb(0, 255, 51);
    font-size: 20px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedorP{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.boton{
    height: 60px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(0, 255, 51);
    border: 1px solid rgb(8, 190, 23);
}
.contenedorboton{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}
.boton:hover {
    transform: scale(1.1);
}
.tarjeta {
    height: 70px;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
}