*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
:root{
    --gris:  rgb(35, 35, 35);
    --blanco: white;
    --negro: black;
    --azul: rgb(47, 0, 255);
    --amrillo: rgb(255, 247, 0);
    --rojo: rgb(255, 0, 0); 
    --efecto-neon: 0 0 5px  #fff, 0 0 20px #4000ff;
    --efecto-neon2: 0 0 5px  #fff, 0 0 20px rgb(255, 247, 0);
    --efecto-neon3: 0 0 5px  #fff, 0 0 20px rgb(255, 0, 0);
}
body{
    background-color: var(--negro);
}
.cabeza1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 35);
    height: 130px;
    color: var(--blanco);
}
.man{
    color: var(--azul);
    text-shadow: var(--efecto-neon)
}
.contenedorpadre{
    height: 380px;
    box-shadow: var(--efecto-neon);
    border: var(--azul);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedormovimiento{
}
.panelprincipal{
    width: 100vw;
    height: 30px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-shadow: var(--efecto-neon);
}
.contenedorboton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.boton{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--gris);
    color: var(--blanco);
    align-items: center;
}
.boton:hover{
    box-shadow: var(--efecto-neon);
    transform: scale(1.07);
}
@keyframes deslizar {
    0% {width: 50%}
    100% {width: 80%}
}
.contenedorbarra{
    display: flex;
    justify-content: center;
}
.barra  {
    height: 20px;
    width: 320px;
    margin-left: 28px;
    border-radius: 10px;
    box-shadow: var(--efecto-neon);
}
.barra2{
    border-radius: 10px;
    width: 100%;
    height: 18px;
    background-color: blue;
    animation: deslizar 1s linear 0s  infinite alternate-reverse;
}
.piedepagina{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100vw;
    color: var(--blanco);
    background-color: var(--gris);
    box-shadow: var(--efecto-neon);
}
@media (min-width: 600px) {
    .man{
        text-shadow: var(--efecto-neon2);
        color: var(--amrillo);
    }
    .boton:hover{
        box-shadow: var(--efecto-neon2);
        scale: 1.08;
    }
    .contenedorpadre{
        box-shadow: var(--efecto-neon2);
    }
    .panelprincipal{
        text-shadow: var(--efecto-neon2);
    }
    .barra{
        box-shadow: var(--efecto-neon2);
    }
    .barra2{
        background-color: var(--amrillo);
    }
    .piedepagina{
        box-shadow: var(--efecto-neon2);
    }


}
@media (min-width: 900px){
    .man{
        text-shadow: var(--efecto-neon3);
        color: var(--rojo);
    }
    .boton:hover{
        box-shadow: var(--efecto-neon3);
        scale: 1.1;
    }
    .contenedorpadre{
        box-shadow: var(--efecto-neon3);
    }
    .panelprincipal{
        text-shadow: var(--efecto-neon3);
    }
    .barra{
        box-shadow: var(--efecto-neon3);
    }
    .barra2{
        background-color: var(--rojo);
    }
    .piedepagina{
        box-shadow: var(--efecto-neon3);
    }

}