*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.cabeza{
    width: auto;
    height: 80px;
    background-color: rgb(45, 46, 53);
    border-bottom: 6px solid rgba(85, 150, 255, 0.79);
}
span{
    color: rgba(85, 150, 255, 0.79);
}
.contenedorcabeza{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}
.cabezeras{
    display: flex;
    justify-content: space-around;
}
.cabezera{
    color: aliceblue;
    padding: 26px;
    cursor: pointer;
}

.titulo{
    display: flex;
    
}
.diseñomultimedia{
    font-size: 35px;
    color: aliceblue;
}
.cabezera:hover{
    background-color: aliceblue;
    color: rgba(85, 150, 255, 0.79);
}
.cabezamedio{
    height: 80px;
    background-color: rgb(45, 46, 53);
    width: auto;
}
.contenedorcabezamedio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}
.contenedoremail{
    display: flex;
    justify-content: space-around;
    
    
}
.email{
    padding: 7px;
}
.boton{
    width: 110px;
    background-color: rgb(241, 110, 45);
    color: aliceblue;
}
.titulomedio{
    color: aliceblue;
    font-size: 30px;
}
.boton:hover{
    transform: scale(1.2); 
}
.contenedorpadre{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedoriz{
    margin-top: 10px;
    height: 480px;
    width: 700px;
  
}
.contenedorde{
    width: 390px;
    height: 220px;
    margin-top: 20px;
    background-color: rgb(61, 61, 74);
   
}
.contenedoriz1{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    height: 150px;
    background-color: white;
}
.contenedoriz2{
    background-color: rgb(61, 61, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px; 
    margin-bottom: 10px;
    color: white;
    
}
.contenedoriz2a{
    margin-left: 15px;
    margin-right: 15px;
}
.contenedoriz3{
    width: 100%;
    height: 160px;
}
img{
    width: 100%;
    height: 100%;
}
.contenedorde1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    height: 210px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.cabezafinal{
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 166, 255);
}
.textofinal{
    color: aliceblue;

}




